*{
  border-sizing: border-box;
}

/* HEADER
   ================================================================ */
 header{
  text-align: center;
  text-transform: uppercase;
  padding: 0px;
}

h1{
  letter-spacing: .5em;
  font-family: "Raleway", sans-serif;
  color : #44545e;
  margin: auto;

}

.center_text
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-style: normal;
  font-weight: 600;
}

#blog_header{

  display: flex;
  letter-spacing: .5em;
  font-family: "Raleway", sans-serif;
  background-image: url("../images/blog_header_bg.jpg");
  background-position: center;
  background-size: cover;
  height: 200px;
  margin-top: 1em;

  /* margin-bottom: 60px; */

}

/* NAVIGATION
   ================================================================ */

nav{

  font-size: .75em;
  font-style: normal;
  font-weight: 600;
  position: fixed;
  top: 0;
  left:0;
  width:100%;
  background-color: white;
}


  .hamburger {
  display: none;
  position: absolute;
  top: 30px;
  left: 100px;

}

nav a {
  display: inline-block;
  padding: 1em 4em;

}

/* BODY
   ================================================================ */

body{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  /* padding: 1em 6em; */
}

p{
  color: #929ca2;
}

h3 {
  text-transform: uppercase;
  /* text-align: center; */
  color : #44545e;

}

h2{
  text-transform: uppercase;
   /* font-size: 1em; */
  color : #44545e;
}



img{
  width: 100%;
}

a{
  text-decoration: none;
  color: #9CC4FF;
}

main
{
  display: flex;
  flex-direction: row;
  padding: 1em 6em;
}

/* LEFT SIDE
   ================================================================ */

.wrapper{

  width: 66.6666%;
  padding-right: 35px;


}


/* RIGHT SIDE
   ================================================================ */
aside {
  width: 33.33333%;
  margin-top: 3em;
  color: #888;
}

.about
{
  font-size:
  width: 3;

}
.about_img
{
  width: 33%;

}


/* FOOOTER
   ================================================================ */

footer{
  text-align:center;
  background-color: #cdf3f6;
  color : #44545e;
}

footer a{
  color : #44545e;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.social-media{
  display: inline-block;
  padding: 20px;
  letter-spacing: 1em;
}

.copyright{
  border-top: 1px solid black;
  font-size: .5em;
  padding: 10px;
}


button{
  text transform: uppercase;
  border: 1px solid black;
}




   @media screen and (max-width: 580px){

     nav {
   		display: none;
   	}

     main
     {

       flex-direction: column;
       padding: 0px;
       /* flex-flow: column wrap ; */

     }

     .hamburger {
     display: inline-block;
     position: absolute;
     top: 30px;
     left: 20px;

   }

     body{
       font-family: "Raleway", sans-serif;
       padding: 0px;
     }
     section {
     }

     .wrapper {

       width: 100%;
       padding-right: 0px;
     }

     aside {
       width: 100%;
       margin-top: 108px;
       color: #888;
     }

     article{
       padding: 10px;
     }

     html {
     font-size: 12px;
   }
